@model JobOffersMVC.ViewModels.JobOffers.JobOfferListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobOffers) {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
        </tr>
}
    </tbody>
</table>
